header {
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  background: url(https://assets-cdn.github.com/images/modules/logos_page/Octocat.png);
  background-position: 10% 20%;
  background-repeat: no-repeat;
}

header h1, header p {
  background-color: white;
  opacity: 0.8;
}

#octocat {
  width: 25%;
}

.column-1 {
  display: inline-block;
  background: #EEA;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 20px;
  width: 45%;
  padding: 5px;
}

.column-2 {
  display: inline-block;
  background: #AEE;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 20px;
  width: 45%;
  padding: 5px;
}

footer {
  border: 2px solid black;
}

p {
  font-family: verdana;
}
