.Cowboy-octopus {
	position: relative;
}
#Hat {
	position: absolute;
	top: 100px;
	left: 115px;
}
#Octopus {
	position: absolute;
	top: 165px;
	left: 130px;
	z-index: -1;
}
#Glasses {
	position: absolute;
	top: 263px;
	left: 173px;
	z-index: 1;
}